    <div class="container">
        <div class="row row-content" ng-controller="DishDetailController">
           
            <div class="col-xs-12">
                <button class="btn btn-xs btn-primary pull-right"
                    type="button" ui-sref="app.menu">
                    Back to Menu
                </button>
                <div class="media">
            
            <div class="col-xs-12">
                
                <ul class="media-list">
                    <li class="media">
                    <div class="media-left media-middle">
                        <a href="#">
                        <img class="media-object img-thumbnail"
                         ng-src={{dish.image}} alt="Uthappizza">
                        </a>
                    </div>
                
                    <div class="media-body">
                        <h2 class="media-heading">{{dish.name}}
                         <span class="label label-danger">{{dish.label}}</span>
                         <span class="badge">{{dish.price | currency}}</span></h2>
                        <p>{{dish.description}}</p>
                        
                    </div>
                    </li>
                </ul>
            </div>
                        
            <div class="col-xs-9 col-xs-offset-1">
            <h4>Customer Comments
                
                <small style="padding:20px;"> Sort by:  <input type="text" ng-model="sortField"> </small>    
                              
                </h4>
                 
            
            <ul class="media-list">
                
                    <li class="media" ng-repeat="comment in dish.comments | orderBy: sortField">
                        
                        <div class="media-body">
                            <blockquote>
                                
                                <p>{{comment.rating}} Stars</p>
                                <p>{{comment.comment}}</p>
                                <small>{{comment.author}}, {{comment.date | date }}</small>
                        
                            </blockquote>
                        </div>
                    </li>
            </ul>
            </div>


            <div class="col-xs-9 col-xs-offset-1" ng-controller="DishCommentController">
                   
                    <ul class="list-unstyled">
                  <span ng-show="commentForm.$valid">           
                        <blockquote>
                             <p>{{commentback.rating}} Stars</p>
                             <p>{{commentback.comment}}</p>
                             <small>{{commentback.author}}, {{commentback.date | date}}</small>
                        </blockquote>
                  </span>
                        
					</ul>
                <p style="padding:20px;"></p>
                
                <form class="form-horizontal" name="commentForm" id="commentForm"
                		ng-submit="submitComment()" novalidate>
                    
                    <div class="form-group" ng-class="{ 'has-error':
                                                      commentForm.author.$error.required 
                                                      && !commentForm.author.$pristine
                                                      }">
                                    <label for="yourname" class="col-sm-2 control-label">Your Name</label>
                                    <div class="col-sm-10">
                                        <input type="text" ng-model="commentback.author" required 
                                               id="author" name="author" class="form-control" placeholder="Enter Your Name"></input>
                        <span ng-show="commentForm.author.$error.required && !commentForm.author.$pristine" class="help-block">Your Name is required.</span>
                                    </div>    
                    </div>
					
                    <div class="form-group" ng-class="{ 'has-error':
                                                      commentForm.rating.$error.required 
                                                      && !commentForm.rating.$pristine
                                                      }">
                                    <label for="numstars" class="col-sm-2 control-label">Number of Stars</label>
                                    
                                    <div class="col-sm-10">
                                        <label class="radio-inline">
                                            <input type="radio" ng-model="commentback.rating" required
                                                   id="rating1" value="1 " name="rating"> 1
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" ng-model="commentback.rating" required
                                                   id="rating2" value="2 " name="rating"> 2
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" ng-model="commentback.rating" required
                                                   id="rating3" value="3 " name="rating"> 3
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" ng-model="commentback.rating" required
                                                   id="rating4" value="4 " name="rating"> 4
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" ng-model="commentback.rating" required
                                                   id="rating5" value="5 " name="rating"> 5
                                        </label>
                                    </div>
                    </div>
                    
                    <div class="form-group" ng-class="{ 'has-error':
                                                      commentForm.comment.$error.required 
                                                      && !commentForm.comment.$pristine
                                                      }">
                            
                                <label for="commenttextlbl" class="col-sm-2 control-label">Your Comments</label>
                                
                                <div class="col-sm-10">
                                    <textarea ng-model="commentback.comment" cols="40" rows="10" required
                                              id="comment" name="comment" class="form-control" ></textarea>
                                    <span ng-show="commentForm.comment.$error.required && !commentForm.comment.$pristine" class="help-block">Your Comment is required.</span>
                                </div>
                    
                    
                    </div>
                    
                    <div class="form-group">
                        <div class="col-sm-10 col-sm-offset-2">
                            <button type="submit" class="btn btn-primary" ng-disabled="commentForm.$invalid">Submit Comment</button>
                        </div>
                        
                    </div>
                    
                </form>
            </div>
        
                
                        

        

        </div>
    </div>
